.products-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 1rem 0 3rem 0;
}

@media only screen and (max-width: 768px) {
  .products-container {
    display: grid;
    grid-template-columns: none;
  }
}
